* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f1f2eb;
    flex-direction: column;
    display: block;
    min-height: 100%;
}

header {
    background-color: aquamarine;
    color: #4B3D2D;
    padding: 20px 0;
}

.contenidoDelHeader {
    text-align: center;
    position: relative;
    width: 1500px; 
    margin: 0 auto;
}

.contenidoDelHeader h1 {
    font-size: 36px; 
    margin-bottom: 20px;
    }

.contenidoDelHeader img {
    width: 100%; 
    height: 400px; 
    display: inline-flex;
    margin: 0px ;
}

nav.menu {
    background-color: aquamarine;
    width: 1000px; 
    margin: 0 auto;
}

nav.menu ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav.menu ul li {
    margin: 0 15px;
}

nav.menu ul li a {
    color: #4B3D2D;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px; 
}

main {
    flex: 1;
    padding: 20px;
    width: 1200px; 
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 15px;
}


.caja {
    justify-content: center;
    width: 500px;
    margin: auto;
    padding: 20px;
    background-color: #ff7f50;
    border-radius: 8px;
    margin-top: 20px;
    margin-bottom: 20px;
}

h1 {
    text-align: center;
    color: #4B3D2D;
}

table {
    width: 450px;
    margin-bottom: 20px;
}

td {
    width: 220px;
    padding: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"] {
    width: 200px;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px;
    border-radius: 4px;
}

input[type="tel"] {
    width: 200px;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px;
    border-radius: 4px;
}

textarea{
    width: 200px;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px;
    border-radius: 4px;
}

select {
    width: 200px;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px;
    border-radius: 4px;
}

datalist{
    width: 200px;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px;
    border-radius: 4px;
}

input[type="radio"] {
    margin-right: 10px;
}

input[type="checkbox"] {
    margin-right: 10px;
}
#consulta {
    width: 450px;  
}

h2 {
    margin-top: 20px;
    color: #4b2d3d;
}

.botondeenviar {
    text-align: center;
    margin-top: 20px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.MenuDeRedes {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
    width: 1000px; 
    margin: 20px auto;
}

.MenuDeRedes img {
    width: 60px;
    height: 60px;
    margin: 0 10px;
    transition: transform 0.3s;
}

footer {
    background-color: aquamarine;
    color: #4B3D2D;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    position: relative;
    bottom: 0;
}

footer p {
    margin: 5px 0;
    font-size: 16px;
}